In [47]:
import pandas as pd

In [48]:
import numpy as np

In [49]:
df = pd.read_csv("data1.csv")
df

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [50]:
df.dtypes

Sepal Length    float64
Sepal Width     float64
Petal Length    float64
Petal Width     float64
Species          object
dtype: object

In [51]:
df.info

<bound method DataFrame.info of      Sepal Length  Sepal Width  Petal Length  Petal Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [52]:
df.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [53]:
df['Sepal Length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal Length, Length: 150, dtype: float64

In [54]:
df.isnull()

     Sepal Length  Sepal Width  Petal Length  Petal Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [55]:
df.shape

(150, 5)

In [56]:
df.size

750

In [57]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [58]:
df.head(10)

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [59]:
df.tail()

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [60]:
df.tail(n=6)

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [61]:
df.columns

Index(['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width',
       'Species'],
      dtype='object')

In [62]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [63]:
df.columns.values

array(['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width',
       'Species'], dtype=object)

In [64]:
df.sort_index(axis=1,ascending=True)

     Petal Length  Petal Width  Sepal Length  Sepal Width         Species
0             1.4          0.2           5.1          3.5     Iris-setosa
1             1.4          0.2           4.9          3.0     Iris-setosa
2             1.3          0.2           4.7          3.2     Iris-setosa
3             1.5          0.2           4.6          3.1     Iris-setosa
4             1.4          0.2           5.0          3.6     Iris-setosa
..            ...          ...           ...          ...             ...
145           5.2          2.3           6.7          3.0  Iris-virginica
146           5.0          1.9           6.3          2.5  Iris-virginica
147           5.2          2.0           6.5          3.0  Iris-virginica
148           5.4          2.3           6.2          3.4  Iris-virginica
149           5.1          1.8           5.9          3.0  Iris-virginica

[150 rows x 5 columns]

In [65]:
df.iloc[5]

Sepal Length            5.4
Sepal Width             3.9
Petal Length            1.7
Petal Width             0.4
Species         Iris-setosa
Name: 5, dtype: object

In [66]:
df[0:2]

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [67]:
df.iloc[0:3,-1]

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
Name: Species, dtype: object

In [68]:
df.iloc[:8,:2]

   Sepal Length  Sepal Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4

In [69]:
df.iloc[:,3]

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: Petal Width, Length: 150, dtype: float64

In [70]:
df.iloc[3:5,0:2]

   Sepal Length  Sepal Width
3           4.6          3.1
4           5.0          3.6

In [71]:
df.iloc[4,0]

5.0

In [72]:
df['Sepal Length'].iloc[5]

5.4

In [ ]:
df['epal width'].iloc[2]

KeyError: 'sepal_width'

In [ ]:
cols_2_4=df.columns[2:4]
df[cols_2_4]

In [ ]:
df.isnull()

    Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0            5.1          NaN           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2          NaN
2            NaN          3.2           1.3          NaN  Iris-setosa
3            4.6          NaN           NaN          0.2  Iris-setosa
4            5.0          3.6           1.4          NaN          NaN
5            NaN          NaN           1.7          0.4  Iris-setosa
6            4.6          3.4           NaN          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            NaN          2.9           1.4          0.2          NaN
9            4.9          3.1           1.5          NaN  Iris-setosa
10           NaN          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa

In [ ]:
df.isnull().sum()

Sepal Length    4
Sepal Width     4
Petal Length    3
Petal Width     3
Species         3
dtype: int64

In [ ]:
df[df.columns[2:4]].iloc[5:10]

   petal_length  petal_width
5           1.7          0.4
6           1.4          0.3
7           1.5          0.2
8           1.4          0.2
9           1.5          0.1

In [ ]:
from sklearn import preprocessing
df.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          NaN           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2          NaN
2           NaN          3.2           1.3          NaN  Iris-setosa
3           4.6          NaN           NaN          0.2  Iris-setosa
4           5.0          3.6           1.4          NaN          NaN

In [ ]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()

In [ ]:
x=df.iloc[0:150,0:4]

In [ ]:
x_scaled = min_max_scaler.fit_transform(x)

In [ ]:
df_normalized = pd.DataFrame(x_scaled)

In [ ]:
df_normalized

            0         1         2         3
0    0.222222       NaN  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2         NaN  0.500000  0.050847       NaN
3    0.083333       NaN       NaN  0.041667
4    0.194444  0.666667  0.067797       NaN
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

In [ ]:
df['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df['species']= label_encoder.fit_transform(df['species'])

In [ ]:
df['species'].unique()

array([0, 1, 2])